.portfolio-item {
  transition: 0.6s;
    transform-style: preserve-3d;
}

.portfolio-item:hover {
  transform: rotateY(180deg);
}

/* hide back of pane during swap */
.primary, .secondary {
    backface-visibility: hidden;
    position: absolute;
}

/* back, initially hidden pane */
.secondary {
    transform: rotateY(180deg);
}
