.portfolio-item {
  transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

.portfolio-item:hover {
  transform: rotateY(180deg);
}

/* hide back of pane during swap */
.primary, .secondary {
    backface-visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;
}

/* front pane, placed above back */
.primary{
    z-index: 2;
    transform: rotateY(0deg);
}

/* back, initially hidden pane */
.secondary {
    transform: rotateY(180deg);
}
