
.primary{
  position: absolute;
  left: 0px;
  top: 0px;
  -webkit-transform:rotateY(0deg);
  -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
-webkit-transition: -webkit-transform 0.3s;
        transition: transform 0.3s;

  }


.secondary{
  opacity: 0;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
  -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transition: -webkit-transform 0.3s;
        transition: transform 0.3s;
        -webkit-transform: rotateY(-180deg);
         transform: rotateY(-180deg);
}


.primary:hover {
  -webkit-transform: rotateY(-180deg);
}

.secondary:hover {
  -webkit-transform: rotateY(0deg);


}
